<!-- ion-modal-view>
  <ion-header-bar class="bar-calm bar-newsic">
    <h1 class="title">Beta Feedback</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFeedback()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="feedback-categories">
      <div class="item item-divider category-divider">
        What do you like? What's not so good?
      </div>


      <form role="form" class="list">
        <label class="item item-input">
          <input type="email" placeholder="Email (optional; for queries)">
        </label>
        <label class="item item-input">
          <textarea placeholder="What's on your mind?"></textarea>
        </label>
        <button class="button button-block button-calm" ng-click="sendFeedback()">Submit Feedback</button>
      </form>
    </div>
  </ion-content>
</ion-modal-view -->
